//li.nav-item
//    a.nav-link(href='/index')
//        i.material-icons view_module
//        span Главная
if(position!==2)
    li.nav-item
        a.nav-link.active(href='notofications')
            i.material-icons vertical_split
            span Документы на подпись
li.nav-item
    a.nav-link(href='myDocs')
        i.material-icons table_chart
        span Мои документы
if(position!==5)
    li.nav-item
        a.nav-link(href='addDocument')
            i.material-icons note_add
            span Создать документ
//li.nav-item
//  a.nav-link(href='form-components.html')
//    i.material-icons edit
//    span Forms &amp; Components
//li.nav-item
//  a.nav-link(href='tables.html')
//    i.material-icons table_chart
//    span Tables
li.nav-item
    a.nav-link(href='userprofile')
        i.material-icons person
        span Мой профиль
//li.nav-item
//  a.nav-link(href='errors.html')
//    i.material-icons error
//    span Errors
